@import url(../index/style.css);

footer{
    display:flex;
    width: 100%;
    height: fit-content;
    font-family: sans-serif;
    background-color: var(--secondcolor);
    justify-content: space-around;
}

footer div{
    display: flex;
    flex-direction: column;
}

h2{
    padding-top: 20px;
}

footer div p{
    display: flex;
    height: 100px;
    align-items: center;
}

.social div {
    display: flex;
    height: 100px;
}