@import url(../index/style.css);

header{
    top: 0;
    display: flex;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: var(--maincolor);
    font-size: larger;
    border-bottom:solid black 2px;
    box-shadow: -5px 5px .4em gray;
    position:sticky;
    z-index: 1000; 
}

nav{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.sidebar{
    width: 2px;
    height: 70%;
    background-color: black;
}


.hub{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.account a{
    display: flex;
    height: 100%;
}

.hub a{
    display: flex;
    height: 100%;
}

nav > ul{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.1%;
    position: relative;

}

.beneath{
    position: absolute;
    background-color: white;
    top: 100%;
    width: 100%;
    max-height:0em;	
    z-index: 100;
    border-top:solid black 2px ;
    flex-direction: column;
    transition: 0.3s max-height;
    overflow: hidden;
    box-shadow: -5px 5px .4em gray;
}

.beneath li{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    text-align: center;
    
}

.beneath a{
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:black;
}

nav p{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


nav  li:hover .beneath{
    max-height: 30em;
    transition: 1s max-height;
    box-shadow: -5px 5px .4em gray;
}



nav p::after{
    position: absolute;
    content: '';
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--textcolor);
    transition: width .5s;
}

nav a:hover > p:after{
    width: 100%;
}

nav li:hover p:after{
    width: 100%;
}

.beneath a::after{
    position: absolute;
    content: '';
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--textcolor);
    transition: width .5s;
}

.beneath a:hover::after{
    width: 100%;
}

.beneath a:hover{
    display: flex;
    background-color: var(--secondcolor);
}

nav li:hover > a{
    display: flex;
    animation: color-change 0.1s linear;
    color: var(--textcolor);
}

.account:hover a{
    display: flex;
    animation: color-change 0.1s linear;
    color: var(--textcolor);
}

.hub:hover a{
    display: flex;
    animation: color-change 0.1s linear;
    color: var(--textcolor);
}

.beneath a:hover{
    display: flex;
    animation: color-change 0.1s linear;
    color: var(--textcolor);
}


@keyframes color-change {
    0% { color: black; }
    50% { color: rgb(126, 0, 0); }
    100% { color: var(--textcolor); }
}
