@import url(../index/style.css);
@import url(../header-footer/header.css);
@import url(../header-footer/footer.css);

:root {

    --marges: 10px;
    --couleur3: #F0F4FF;
    --border_color: #000000;
    /*--maincolor : #f5eedf;*/
    --e_couleur1: #F0F4FF;
    --e_couleur2: var(--thirdcolor);

}


body {

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 800px;

}


.div_principale {

    width: 80%;
    padding-bottom: 50px;

    background-color: var(--maincolor);

    display: flex;
    flex-direction: column;
    align-items: center;

}


div.pres_deck {

    width: 100%;

    text-align: center;
    background-color: var(--thirdcolor);

    padding-top: 20px;
    padding-bottom: 10px;
}

.propose_echange{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    width: 85%;
    
}

.button_propose_echange{
    display: flex;
    height: 50px;
    margin-top: 10px;
    width: 200px;
    max-width: 200px;
    background-color: var(--e_couleur1);
    border-radius: 10px;
    border: solid;
    border-color: var(--e_couleur2);
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.button_propose_echange:hover{
    cursor: pointer;
    background-color: var(--secondcolor);
    
}

div.un_deck {

    width: 85%;

    margin-top: calc(var(--marges) * 4);

    background-color: var(--couleur3);

    border: solid 3px #7e7d7d;

    border-radius: 12px;
}

div.j_prop {

    width: calc(100% - var(--marges) * 2);

    margin: var(--marges);

    display: flex;
    align-items: center;
    
}

div.j_prop img {

    width: 50px;
    height: 50px;
}

div.j_prop t {

    font-size: 30px;
    font-weight: bold;

    margin-left: var(--marges);
    
}

div.resume_info {

    width: calc(100% - var(--marges) * 4);

    margin: calc(var(--marges) *2);
    margin-top: var(--marges);
    margin-bottom: var(--marges);

    display: flex;
    justify-content: space-between;

}

div.info_ecrit {

    width: 40%;

    display: flex;
    flex-direction: column;

    border: solid var(--border_color) 2px;
    border-radius: 7px;
}


div.info_ecrit_deck {

    width: calc(100% - var(--marges)*2);
    height: calc(50% - var(--marges));

    margin-left: var(--marges);
    margin-right: var(--marges);
    

    display: flex;
    flex-direction: column;

}

div.info_ecrit_deck#info_ecrit_deck1 {

    margin-top: var(--marges);
}

div.info_ecrit_deck#info_ecrit_deck2 {

    margin-bottom: var(--marges);
}

t.info_ecrit_titre {

    font-size: 25px;
}

div.info_ecrit_val {

    width: 100%;
    height: calc(100% - 25px);

    margin-bottom: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    text-decoration: underline;

}



div.info_cartes {

    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--border_color) 2px;
    border-radius: 7px;

}


div.carte_principale_deck {

    display: flex;
    justify-content: center;

    /*background-color: var(--maincolor);*/
}

div.carte_principale_deck  t {

    font-size: 25px;
    margin-top: var(--marges);
}

div.res_cartes {

    width: 80%;

    display: flex;
    justify-content: space-around;

}

div.res_une_carte {

    width: 28%;
    background-color: #FFF;
    border-radius: 7px;

    margin-top: calc(var(--marges) /2);
    margin-bottom: calc(var(--marges) /2);
    
}

img.cartes_d {

    width: calc(100% - 10px);
    margin: 5px;
    margin-bottom: 2px;
    
}


div.detaille_info {

    width: calc(100% - var(--marges) * 2);

    margin: var(--marges);


    display: flex;
    flex-direction: column;

}

div.titre_detaille_info {

    font-size: 25px;
    width: 100%;
    display: flex;

}

div.titre_detaille_info t {

    margin: calc(var(--marges) /2);
    margin-left: var(--marges);
    padding-left: 4px;
    padding-right: 4px;

    border: solid var(--border_color) 2px;
    border-radius: 6px;

    background-color: var(--couleur3);
}

div.detaille_cartes {

    width: calc(calc(100% - var(--marges) *2) -4px);

    margin: var(--marges);

    border: solid var(--border_color) 2px;
    border-radius: 7px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.une_carte {

    width: calc(calc(100% /10) - var(--marges));
    margin-top: calc(var(--marges) /4);
    margin-left: var(--marges);
    
}

div.une_carte#une_carte1 {

    margin-left: calc(var(--marges)/2);
}

img.cartes_dd {

    width: calc(100% - var(--marges) /2);

    border: solid #FFF;
    border-radius: 3px;
}


/*code pour le script js*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: transparent;
    padding: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    

}

.modal-content img {
    width: auto;
    max-width: 70%;
    max-height: 80vh;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.cartes:hover{
    cursor: pointer;
    opacity: 75%;
}

.adv {

    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--maincolor);
}

.title {
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);
    border-bottom: solid black 2px;
    border-top: solid black 2px;

    background-color: var(--thirdcolor);
}

.title h1 {
    display: flex;
    padding-top: 50px;
    width: 95%;
    margin: auto;
}

.title p {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
    padding-bottom: 50px;
    font-size: larger;
}

.expert{

    width: 95%;
    margin-bottom: 30px;
    margin-top: 30px;

    background-color: #FFF;

    display: flex;
    flex-direction: row;
    height: auto;
    border-bottom: solid black 2px;
    width: calc(100%-4px);
    justify-content: space-around;
    border: solid black 2px;

}

.profile{
    display: flex;
    min-width:400px;
}



.profile img{
    width: min-content;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    width: max-content;
}

.text h1{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text p{
    display: flex;
    padding-inline: 50px;
    padding-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

