:root {
  --grey: rgb(6, 6, 7);
}

body{
    width: 100%;
}

#root {
    position: relative;
    background-color: var(--grey);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    z-index: 0;
}